name: Unit test and build on PR

on:
  pull_request:
    branches:
      - v0.x.x

env:
  KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
  KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
  KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

jobs:
  build:
    runs-on: macos-latest
    steps:

      - name: Checkout project
        uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Checkout keystore
        uses: actions/checkout@v2
        with:
          repository: ${{ secrets.KEYSTORE_REPOSITORY }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          path: app/keystore

      - name: Run unit tests
        run: ./gradlew test

      - name: Build release APK and AAB
        run: |
          ./gradlew assembleRelease --stacktrace
          ./gradlew bundleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: app-release.apk
          path: app/build/outputs/apk/release/app-release.apk

      - name: Upload AAB
        uses: actions/upload-artifact@v2
        with:
          name: app-release.aab
          path: app/build/outputs/bundle/release/app-release.aab
